.mat-autocomplete-panel.mat-autocomplete-visible {
  width: 75%;
}

.mat-form-field {
  width: 75%;
}

form {
  margin-left: 20%;
}

.mat-autocomplete-panel {
  visibility: visible;
}

.mat-stepper-vertical {
  padding-top: 2%;
}
