<ul>
  <li>
    <a routerLink="/authentification" class="active">
      Connection
    </a>
  </li>
  /
  <li routerLink="/accueil" class="active">
    Menu
  </li>
  /
  <li>
    Lieu
  </li>
</ul>
<div id="blueBand">
  <h3 routerLink="/scan_lieu">SCAN <mat-icon>arrow_drop_down</mat-icon></h3>
</div>
<div id="orangeBand">
  <h3>LIEU</h3>
</div>

<div id="recherche">
  <h4>DIRISI</h4>
  <span class="spacer"></span>
  <a mat-list-item href="#"><mat-icon>search</mat-icon></a>
</div>

<!-- <mat-list>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="/accueil/inventaire/inventaire_in_progress"
    >DIRISI/CDAD-T/RDC/PIECE 7001</mat-list-item
  >
  <mat-divider></mat-divider>
  <mat-list-item>DIRISI/CDAD-T/RDC/PIECE 7002</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>DIRISI/CDAD-T/RDC/PIECE 7003</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>DIRISI/CDAD-T/ETAGE 1/PIECE 7102</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>DIRISI/CDAD-T/ETAGE 1/PIECE 7103</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>DIRISI/CDAD-T/ETAGE 1/PIECE 7111</mat-list-item>
</mat-list> -->
