.navbar{
  justify-content: space-between;
  background: #31bae4;
  height: 6%;
}

span{
  padding-right: 1rem;
}

.material-icons{
  font-size: 30px;
  margin-top: 23%;
}

#contentNavbar{
  margin-left: 92%;
  display: flex;
}


