table.mat-table {
  width: 98vw;
  margin-left: 1vw;
  margin-top: 3vh;
}

.mat-table-sticky:first-child {
  border-right: 2px solid #e0e0e0;
  font-size: 16px;
}

#libelle {
  padding-left: 2vh;
  font-size: 15px;
}

.mat-table-sticky:last-child {
  border-left: 2px solid #e0e0e0;
  text-align: center;
  padding-right: 0vw;
}

#lesSymboles {
  font-size: 22px;
}

th.mat-header-cell {
  text-align: center;
  font-size: 20px;
}

tr.mat-header-row {
  display: none;
}
