<ul>
  <li>
    <a class="active" routerLink="/choix_unite">
      Détenteur
    </a>
  </li>
  /
  <li>
    Menu
  </li>
</ul>

<mat-card> <p>Dirisi - CDAD - Pièce 7001</p></mat-card>
<section>
  <article id="inventaire" routerLink="/accueil/inventaire_in_progress">
    <mat-icon>edit</mat-icon><span class="aligned-with-icon">Inventaire</span>
  </article>

  <article id="mouvement" router>
    <mat-icon>swap_horiz</mat-icon
    ><span class="aligned-with-icon">Mouvement</span>
  </article>

  <article id="extraction">
    <mat-icon> local_printshop</mat-icon
    ><span class="aligned-with-icon">Extraction</span>
  </article>
</section>

<!-- <div class="container">
  <button class="odd" id="button1" mat-raised-button>
    Mouvement
  </button>
  <button
    routerLink="/accueil/inventaire_in_progress"
    class="even"
    id="button2"
    mat-raised-button
  >
    Inventaire
  </button>
  <button class="odd" id="button3" mat-raised-button>
    Extraction
  </button>
  <button class="even" id="button4" mat-raised-button>
    Autre
  </button>
</div> -->
