ul {
  list-style: none;
  margin-top: 2.5em;
  background: #80808030;
}

li {
  display: inline;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  color: #31bae4;
}

#photoItem {
  height: 25%;
  margin-left: 25%;
  margin-top: 5%;
}

h3 {
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
  padding-top: 4%;
  display: flex;
  justify-content: center;
}
.orangeBand {
  text-align: center;
  background: orange;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

#littleOrange {
  height: 3vh;
}

#lesDetails {
  margin-left: 10vw;
  font-size: 25px;
}
