<ul>
  <li>
    <a routerLink="/choix_unite" class="active">
      Détenteur
    </a>
  </li>
  /
  <li routerLink="/accueil" class="active">
    Menu
  </li>
  /
  <li routerLink="/accueil/inventaire_in_progress" class="active">
    Inventaire
  </li>
  /
  <li>
    Détails
  </li>
</ul>

<div class="orangeBand" id="littleOrange">
  <p>DIRISI/CDAD-T/ETAGE 1/PIECE 7111</p>
</div>

<img id="photoItem" src="assets/img/fauteuil-gamer-fnatic.jpg" alt="fauteuil" />

<app-table-details></app-table-details>

<!-- <div id="lesDetails">
  <p>Désignation : Fauteuil gamer</p>
  <p>Identifiant : 0000004</p>
  <p>NNO : 4885-90-000-7554</p>
  <p>RAD : 5555647</p>
  <p>Numéro de série : RF-4560</p>
  <p>Prix : 399,90€</p>
</div> -->
